.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex-grow: 1;
}

.adminLayout {
  display: flex;

  @include tablet {
    flex-direction: column-reverse;
  }
}
