.selectWrapper {
  position: relative;
  user-select: none;
}

.selectHeader {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: var(--color-gray);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    border-color: var(--color-green);
    box-shadow: var(--box-shadow);
  }
}

.arrow {
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(-135deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-gray);
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 10;
  margin-top: 5px;
}

.searchWrapper {
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 12px;
  background-color: #333;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--color-white);
  outline: none;
}

.clearButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: var(--border);
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 4px 8px;
}

.optionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-green) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-green);
  }
}

.option {
  padding: 12px;
  cursor: pointer;
  color: var(--color-white);

  &:hover {
    color: var(--color-green);
    background-color: #333;
  }
}

.otherOption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
