.footer {
  display: flex;
  justify-content: end;
  background-color: var(--color-black-elevate);
  border-top: var(--border);
  padding-block: 12px;
  padding-inline: var(--padding);
  color: var(--color-green);

  @include mobile-s {
    justify-content: center;
    font-size: 12px;
    padding-block: 5px;
  }
}
